# Import Aspect bazelrc presets
import %workspace%/bazelrcs/.aspect/aspect.bazelrc

# Import Custom settings
import %workspace%/bazelrcs/modern.bazelrc

import %workspace%/.apko/.bazelrc

# honor the setting of `skipLibCheck` in the tsconfig.json file
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

build --incompatible_disallow_empty_glob=false
